*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #4d4a4a;
    font-family: 'Popins', sans-serif;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #898787, #f1f0ef);
    color: #FFF;
    height: 6rem;
    padding: 1em;
  }
.top-nav img {
    width: 200px;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 3rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 0.2rem;
    width: 2rem;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(110, 107, 107, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
.menu li a {
    text-decoration: none;
    color: #00000d;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    transition: all 0.5s;
}

.menu li a:hover {
    color: #ffffff;
    padding: 1rem;
    transition: all 0.5s;
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 6rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 0.5px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #e4e2e251;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
.banner {
    box-shadow: #f1f1f1e1 0px 0px 2px 3px;
    margin: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    z-index: 1;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-image1{
    grid-column: 1 / span 4;
    grid-row: 2;
    z-index: 1; 
}
.banner-image2{
    grid-column: 1 / -3;
    grid-row: 3;
    z-index: 1; 
}
.banner-image3{
    grid-column: -3 / -1;
    grid-row: 3;
    z-index: 1; 
}
.banner-text {
    grid-column: 1 / span 4;
    grid-row: 1;
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #ffffff50;
    padding: 1rem;
    z-index: 3;
}

.banner .banner-text h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 100;
    text-transform: uppercase;
}

.banner .banner-text p {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1% 0;
}

.btn {
    display: inline-block;
    padding: 1.5% 3.5%;
    background-color: #272525;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    transition: all 0.5s;
}

.btn-sm {
    font-size: 0.5rem;
    padding: 0.5rem ;
}
.btn-white{
    background-color: #f1f1f1;
    color: #444444;
}


.btn:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #444444;
    transition: all 0.5s;
    font-size: 1.2rem;
    letter-spacing: 2px;

}

.btn-white:hover {
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.5s;
    background-color: #191818d1;
    color: #f1f1f1;
    letter-spacing: 2px;
}
.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding:  2rem;
    background-color: #f1efe5d1;
    box-shadow: #444444 0px 0px 4px 3px;
}
.services{
    margin: 1rem;
    padding: 1rem;
}

.services .services-text{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services .services-text h1 {
    font-size: 2rem;
    font-weight: 300;
    -webkit-text-stroke: #000000 0.6px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: #444444 1px solid;
    border-bottom: none;
    padding: 0.5rem;
}
.services .services-text p {
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 3px;
    border: #444444 1px solid;
    border-top: none;
    margin-bottom: 3rem;
    padding: 0.5rem;

}

ol {
    width: min(60rem, 90%);
    margin-inline: auto;
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
  
    list-style: none;
    counter-reset: stepnr;
  }
  
  li:nth-child(6n + 1) { --accent-color: #444444d1 }
  li:nth-child(6n + 2) { --accent-color: #f1f1f1aa }
  li:nth-child(6n + 3) { --accent-color: #74a59a }
  li:nth-child(6n + 4) { --accent-color: #b58f8f }
  li:nth-child(6n + 5) { --accent-color: #6b81ac }
  li:nth-child(6n + 6) { --accent-color: #000000d1 }
  
  ol li {
    counter-increment: stepnr;
    width: 18rem;
    --borderS: 0.1rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--borderS) + 2rem);
    position: relative;
  }
  ol li::before,
  ol li::after {
    inset: 0;
    position: absolute;
    border: var(--borderS) solid #ffffff68;
    line-height: 1.1;
  }
  ol li::before {
    content: counter(stepnr);
    color: var(--accent-color);
    padding-left: 11rem;
    font-size: 12rem;
    font-weight: 700;
    overflow: hidden;
  }
  
  ol li::after {
    content: "";
    filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
  }
  
  ol li > * { width: 8rem }
  ol li .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
  ol li .title { font-size: 1.5rem; font-weight: 500 }
  ol li .descr { font-size: 0.8rem; font-weight: 300 }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
    font-weight: 100;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    color: #f6f3f3;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    
    padding: 10px 30px;
    background-image: url("images/about.jpg");
    background-position: initial;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat: no-repeat;
  }
  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    background-color: rgba(91, 91, 91, 0.613);
    box-shadow: #e1e1e1 0px 0px 10px 5px;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 45px;
    font-weight: 300;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .socialIcon {
    width: 30px;
    height: 30px;
    box-shadow: #e1e1e1 1px 1px 1px;
    border-radius: 10%;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }

  .wk-desk-1 {
    width: 8.333333%;
  }
  
  .wk-desk-2 {
    width: 16.666667%;
  }
  
  .wk-desk-3 {
    width: 25%;
  }
  
  .wk-desk-4 {
    width: 33.333333%;
  }
  
  .wk-desk-5 {
    width: 41.666667%;
  }
  
  .wk-desk-6 {
    width: 50%;
  }
  
  .wk-desk-7 {
    width: 58.333333%;
  }
  
  .wk-desk-8 {
    width: 66.666667%;
  }
  
  .wk-desk-9 {
    width: 75%;
  }
  
  .wk-desk-10 {
    width: 83.333333%;
  }
  
  .wk-desk-11 {
    width: 91.666667%;
  }
  
  .wk-desk-12 {
    width: 100%;
  }
  
  @media (max-width: 1024px) {
    .wk-ipadp-1 {
      width: 8.333333%;
    }
  
    .wk-ipadp-2 {
      width: 16.666667%;
    }
  
    .wk-ipadp-3 {
      width: 25%;
    }
  
    .wk-ipadp-4 {
      width: 33.333333%;
    }
  
    .wk-ipadp-5 {
      width: 41.666667%;
    }
  
    .wk-ipadp-6 {
      width: 50%;
    }
  
    .wk-ipadp-7 {
      width: 58.333333%;
    }
  
    .wk-ipadp-8 {
      width: 66.666667%;
    }
  
    .wk-ipadp-9 {
      width: 75%;
    }
  
    .wk-ipadp-10 {
      width: 83.333333%;
    }
  
    .wk-ipadp-11 {
      width: 91.666667%;
    }
  
    .wk-ipadp-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .wk-tab-1 {
      width: 8.333333%;
    }
  
    .wk-tab-2 {
      width: 16.666667%;
    }
  
    .wk-tab-3 {
      width: 25%;
    }
  
    .wk-tab-4 {
      width: 33.333333%;
    }
  
    .wk-tab-5 {
      width: 41.666667%;
    }
  
    .wk-tab-6 {
      width: 50%;
    }
  
    .wk-tab-7 {
      width: 58.333333%;
    }
  
    .wk-tab-8 {
      width: 66.666667%;
    }
  
    .wk-tab-9 {
      width: 75%;
    }
  
    .wk-tab-10 {
      width: 83.333333%;
    }
  
    .wk-tab-11 {
      width: 91.666667%;
    }
  
    .wk-tab-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .wk-mobile-1 {
      width: 8.333333%;
    }
  
    .wk-mobile-2 {
      width: 16.666667%;
    }
  
    .wk-mobile-3 {
      width: 25%;
    }
  
    .wk-mobile-4 {
      width: 33.333333%;
    }
  
    .wk-mobile-5 {
      width: 41.666667%;
    }
  
    .wk-mobile-6 {
      width: 50%;
    }
  
    .wk-mobile-7 {
      width: 58.333333%;
    }
  
    .wk-mobile-8 {
      width: 66.666667%;
    }
  
    .wk-mobile-9 {
      width: 75%;
    }
  
    .wk-mobile-10 {
      width: 83.333333%;
    }
  
    .wk-mobile-11 {
      width: 91.666667%;
    }
  
    .wk-mobile-12 {
      width: 100%;
    }
  }

.contact-us {
    margin: 2rem 0;
}

.contact-us .contact-us-content{
    background-color: #222121e6;
    box-shadow: #f1f1f1 0px 0px 4px 3px;

    padding: 3rem;
}

.contact-us .contact-header {
    padding: 1rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #f1f1f1;
    border-bottom: #f1f1f1 1px solid;
}

.contact-us .contact-us-text .btn {
    margin-top: 1rem;
}

.zip {
    display: flex;
    justify-content: space-between;
    margin: 1% 3%;
}

.person {
    display: flex;
    justify-content: space-evenly;
    margin: 1% 5%;
}

.person input{
    width: 45%;
}

label {
    text-transform: none;
    font-size: 1.2rem;
    margin: 0 5%;
    color: #f1f1f1;
}

input {
    width: 70%;
    text-transform: none;
    font-size: 0.9rem;
    padding: 1.5%;
    border: #f1f1f1 1px solid;
    border-radius: 5px;
    color: #fff;
    background: transparent;
}
.zip-date{
    display: flex;
    justify-content: space-between;
    margin: 1% 3%;

}
.zip-date input{
    width: 30%;
    text-transform: none;
    font-size: 0.9rem;
    padding: 1.5%;
    border: #f1f1f1 1px solid;
    border-radius: 5px;
    color: #fff;
    background: transparent;

}
.message{
    display: flex;
    justify-content: center;

}
textarea {
    width: 84%;
    padding: 1.5%;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    border: #f1f1f1 1px solid;
    border-radius: 5px;
    margin: 2% 0;
    color: #f1f1f1;
    font-size: 0.9rem;
    background: transparent;
}

select {
    width: 60%;
    text-transform: none;
    font-size: 0.9rem;
    padding: 1%;
    border: #f1f1f1 1px solid;
    border-radius: 5px;
    color: #f1f1f1;
    background: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 0.1rem rgba(0, 162, 255, 0.645);
}

.footer {
    width: 100%;
    background: linear-gradient(to right, #878585, #f1f0ef);
    text-decoration: none;
    padding: 5%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.social{
   grid-area: 1 ;
   text-align: end;
}
.social i{
    font-size: 2rem;
    color: #000000;
    margin: 0 3%;
}
.social a{
    margin: 0 3%;
}
.dot {
    grid-area: 1;
    text-align: start;
    font-weight: 100;
    color: #292828;
    font-size: 1rem;

}
.dot img {
    width: 40px;
    height: 40px;
    margin: 1%;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.footer-nav ul li {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    margin: 0 2rem ;
}

.footer-nav ul li a{
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 0.7;
}
.footer-bottom {
    text-align: center;
    font-size: 0.7rem;
    border-top: thin solid #444444;
    padding-top: 1%;
}


@media screen and (max-width: 800px) {
  
    .services .service-image img{
        width: 100%;
    }
}
}
@media screen and (max-width: 700px) {
    .footer-nav ul li a{
        font-size: 0.5rem;
    }
    .social i{
        font-size: 1.3rem;
    }
    .dot img {
        width: 30px;
        height: 30px;
    }
    .dot {
        font-size: 0.8rem;
    }

}
